.outer_card {
    margin: 50px auto;
    background-color: whitesmoke;
    width: 50%;
    height: 650px;
    border-radius: 10px;
}

.middle_card {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 48em;
    height: 15em;
    border-radius: 10px;
    padding: 10px 20px;
}